@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFE;
  --light-gray-100: #EFF0F3;
  --light-gray-200: #E4E5E9;
  --gray: #C0C0C0;
  --dark-gray: #9A9494;
  --black: #2B2C34;
  --yellow: #FFC344;
}

body {
  color: var(--black);
  background: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
